<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
			<h1>Categories</h1>
		</div>
		
		<div class="col-md-4">
			<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		</div>
		<div class="col-md-4" style="padding:20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
			</form>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Name: </th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
			<tr th:each = "category : ${categories}">
				<td th:text="${category.name}"></td>
				<td sec:authorize="hasAuthority('ADMIN')">
					<a 
						class="btn btn-success" 
						th:href="@{/editcategory/{id}(id=${category.id})}" >
							Edit
					</a>
				</td>
				<td sec:authorize="hasAuthority('ADMIN')">
					<a 
						class="btn btn-danger" 
						th:href="@{/deletecategory/{id}(id=${category.id})}" 
						onclick="return confirm('Are you sure you wish to delete')" >
							Delete
					</a>
				</td>
			</tr>
		</table>
		<a class="btn btn-success" href="/addcategory">Add category</a>
		<a class="btn btn-success" href="/index">Main</a>
	</div>
	
</body>
</html>